<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sanfranciscosunrise.silente.calldestination">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
                 android:icon="@android:drawable/ic_menu_compass"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".CallDestinationActivity"
                  android:label="@string/title_activity_call_destination"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".PlacePickerActivity"
                  android:theme="@android:style/Theme.NoDisplay"/>
                  <!-- android:noHistory="true"/> -->

        <service android:name="com.sanfranciscosunrise.silente.calldestination.OverlayShowingService"
                 android:exported="false"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyC17067beytGa8UQpjt-oO6mCi_m4M5x7E"/>

    </application>

</manifest>
